dvc_remote/
**/dvc_remote

data/notebooks/.ipynb_checkpoints
data/processed
data/raw
data/interim/


# MLflow tracking and artifacts
.mlflow/

# MLflow server logs
mlflow-server.log
*.mlflow

src/utils/__init__.py
src/utils/__pycache__/
